[submodule "sofa-ark"]
	path = sofa-ark
	url = https://github.com/sofastack/sofa-ark.git
	branch = master
[submodule "arkctl"]
	path = arkctl
	url = https://github.com/koupleless/arkctl.git
[submodule "module-controller"]
	path = module-controller
	url = https://github.com/koupleless/module-controller.git
[submodule "runtime"]
	path = runtime
	url = https://github.com/koupleless/runtime.git
[submodule "samples"]
	path = samples
	url = https://github.com/koupleless/samples.git
