[submodule "sofa-ark"]
	path = sofa-ark
	url = https://github.com/sofastack/sofa-ark
	branch = master
[submodule "arkctl"]
	path = arkctl
	url = https://github.com/koupleless/arkctl
	branch = main
[submodule "module-controller"]
	path = module-controller
	url = https://github.com/koupleless/module-controller
	branch = main
[submodule "runtime"]
	path = runtime
	url = https://github.com/koupleless/runtime
	branch = main
[submodule "samples"]
	path = samples
	url = https://github.com/koupleless/samples
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/koupleless/docs
	branch = main
[submodule "adapter"]
	path = adapter
	url = git@github.com:koupleless/adapter.git
	branch = main
[submodule "scanner"]
	path = scanner
	url = git@github.com:koupleless/scanner.git
[submodule "koupleless-idea"]
	path = koupleless-idea
	url = git@github.com:koupleless/koupleless-idea.git
