/*

Add styles or override variables from the theme here.

*/

main.td-main #td-cover-block-0 h1.display-1 {
  color: black;
}

#main_navbar .nav-link {
  color: white;
}

.container-fluid.td-default.td-outer {
  // padding: 100px;
}

footer.td-footer.row.d-print-none {
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 50px;
}
