<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="appname" source="spring.application.name"/>
    <property name="level" value="${logLevel:-info}"/>
    <property name="LOG_HOME" value="./log"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${appname} %date %5level %6relative --- [%15thread] [%-40logger{40}] [%C:%L] :  %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${appname}.log</file>
        <rollingPolicy name="FILE" class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${appname}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${appname} %date %5level %6relative --- [%15thread] [%-40logger{40}] [%C:%L] :  %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="${level}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>